const config = {
    db: {
        host: "localhost",
        user: 'root',
        password: "password",
        port: 3306,
        database: "stylish",
    },
    listPerPage: 6,
};

module.exports = config;