* {
    box-sizing: border-box;
}

fieldset {
    margin: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.var_input {
    display: inline;
    width: 360px;
    margin: 10px 5px;
    padding: 10px;
    background-color: gainsboro;
}

.prod_info input[type=text] {
    width: 90%
}

button, input[type=file] {
    margin: 5px, 0;
}

textarea {
    width: 100%;
    margin-top: 5px;
}